$lightpink: #eec9fc;
$lightblue: #afefff;
$almostblack: #333;

@mixin linear-gradient($color_a, $color_b) {
    background: $color_a; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  $color_a 0%, $color_b 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  $color_a 0%,$color_b 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  $color_a 0%,$color_b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color_a', endColorstr='$color_b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

body {
	margin: 0px;
	padding: 0px;
	height: 100%;
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    font-size: 0.9em;
}

section.header {
    text-align: center;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/$lightpink+0,afefff+100 */
    padding: 5px 20px;
    @include linear-gradient($lightpink, $lightblue);
}

.flexcontainer {
	height:100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

    & .centerdiv {
        width: 90vw;
        max-width: 600px;
        margin-left: 200px;
        height: 100%;
    }

}


a {
    color: darken($lightblue, 40);
    transition: color 0.2s ease;


    &:hover {
        color: darken($lightpink, 20);
   }
}

.post {
    border-top: 5px solid $almostblack;
    padding: 5px 0px;
    margin: 20px 10px;

    & .title {
        @include linear-gradient(#666, #222);
        color: white;
        float: left;
        margin-left: -200px;
        width: 180px;
        padding: 3px 5px;
        display: block;
    }

    & .video, & img, & iframe {
        max-width: 100%;
    }

    & .code {
        padding: 0px 30px;
        background-color: #EEE;
    }

}

@media screen and (max-width: 692px)   {

    .centerdiv {
        margin-left: 0px !important;
    }
    .post {
        margin-left: 0px;

        & .title {
            width: 100% !important;   
            box-sizing: border-box;
            margin-left: 0px;
            float:none;
        }
    }   
}


#menu {
    width: 300px; //TODO
}

deleted {
    opacity: 0.1;
}

